<div class="container mt-5 js-filter">

    {% if mached %}
    <div class="row ">
        <div class="col-md-12">

            <h1 class="text-center text-white ">
                Vos recettes
            </h1>
            <div class="row js-filter-content">
                {% include "recipes/_recipes.html.twig" with {recipes: mached} only%}
            </div>


        </div>

    </div>

    {% endif %}
    {% if possible %}
    <div class="row ">
        <div class="col-md-12">

            <h1 class="text-center text-white ">
                Recettes qui pouraient correspondre
            </h1>
            <div class="row js-filter-content">
                {% include "recipes/_recipes.html.twig" with {recipes: possible} only %}
            </div>


        </div>

    </div>
    {% endif %}
</div>