parameters:
    level: 7
    paths:
        - src
    bootstrapFiles:
    earlyTerminatingMethodCalls:
        Nette\Application\UI\Presenter:
            - redirect
            - redirectUrl
            - sendJson
            - sendResponse
    checkGenericClassInNonGenericObjectType: false