{% if displayForm %}
	<a type="button" class="primary-btn text-decoration-none" data-bs-toggle="modal" data-bs-target="#modal{{ recipe.idRecipe }}">
		Laisser une appréciation
	</a>


	<!-- Modal -->
	<div class="modal fade" id="modal{{ recipe.idRecipe }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		{% include "comment/editDialogComment.html.twig" with {form: form } only %}
	</div>
{% endif %}
