body {
    font-family: 'Lora';
    /* background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../../assets/images/bg.jpg"); */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.background {
    background-color: #311810;
}

.checked {
    color: orange;
}

.fexed_top {
    top: 20px;
}

.is-loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: .5;
    z-index: 4;
}

.is-loading .spinner-border {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
}

.btn-xl {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.message-position {
    position: fixed;
    top: 0;
    z-index: 1020;
    right: 387px;
}

@media (max-width: 767px) {
    .message-position {
        right: 8px;
    }
}

@media (min-width: 768px) {
    .message-position {
        top: 83px;
        right: 14px;
    }
}

#output {
    position: absolute;
}

.code_element {
    display: block;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.428571429 !important;
    border-radius: 15px !important;
    background-color: #f08632 !important;

}

.cart_btn,.deleteArticle{
    cursor: pointer;
}

.suggestion{
    background-color: #f08632;
}
