{% extends 'base.html.twig' %} {% block title %} Hello RecipesController! {% endblock %} {% block body %}

<div class="container mt-5 js-filter">

    <div class="row ">
        <div class="col-md-3 text-white ">
            {% include 'recipes/_filter.html.twig' with {form: form} only %}
        </div>
        <div class="col-md-9">

            <h1 class="text-center text-white ">
                Liste des recettes
            </h1>
            <div class="row js-filter-content">
                {% include "recipes/_recipes.html.twig" %}
            </div>

            <div class="js-filter-pagination">
                {{ knp_pagination_render(recipes, 'pagination/_paginate.html.twig')}}
            </div>
        </div>

    </div>
    </div {% endblock %}