{% extends 'base.html.twig' %}

{% block body %}
    <!--Section: Block Content-->
    <section class="container" data-url="{{ path('cart') }}" id="cart_container">

        <!--Grid row-->

        <!--Grid row-->

    </section>
    <!--Section: Block Content-->
{% endblock %}
